<mat-sidenav-container class="app-sidenav-container">
  <div>
  </div>
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z15" [mode]="isScreenSmall ? 'over' : 'side'" [opened]="!isScreenSmall" >
    
    <div class="box">
      <div class="row header">
        <mat-toolbar color="primary">
          Menu
        </mat-toolbar>
      </div>
      <div class="row footer">
        <mat-nav-list style="padding: 0; ">
          <mat-list-item class="icon yellow">
            <a matLine  [routerLink]='["/apiary"]'><mat-icon svgIcon="hive"></mat-icon>  Apiary</a> 
          </mat-list-item>
          <mat-list-item class="icon black">
            <a matLine  [routerLink]='["/apiary/bees"]'><mat-icon svgIcon="honey-comb" class="svg"></mat-icon> Bees</a> 
          </mat-list-item>
          <mat-list-item class="icon yellow">
            <a matLine  [routerLink]='["/apiary/honey"]'><mat-icon svgIcon="honey-jar"></mat-icon>  Honey</a> 
          </mat-list-item>
          <mat-list-item class="icon black">
            <a matLine  [routerLink]='["/apiary/account"]'><mat-icon svgIcon="ac-1"></mat-icon> Account</a> 
          </mat-list-item>
          <div *ngFor="let user of users | async; let i = index" [attr.data-index]="i">
            <div *ngIf="i%2 == 0">
              <mat-list-item class="icon yellow">
                <!-- <a matLine [routerLink]="['/contactmanager',user.id'">{{user.name}}</a> -->
              </mat-list-item>
            </div>
            <div *ngIf="i%2 != 0">
              <mat-list-item class="icon black">
                <!-- <a matLine [routerLink]="['/contactmanager',user.id'">{{user.name}}</a> -->
              </mat-list-item>
            </div>
          </div>
        </mat-nav-list>
      </div>
      <div class="row content">
      </div>
    </div>

  </mat-sidenav>

 
  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()" ></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
