$iconWidth: 300px;
mat-card {
    text-align: center;
    background: yellow;
    margin: auto;

    display: flex;
    @media (max-width:720px){
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        min-height: 100%;
    }
  }
  .container {
    background: black;
    height: 100%;
    width: 100%;
    display:flex;
  }
  
  mat-form-field {
    display: block;
    min-width: $iconWidth;
  }
