.myContainer {
  background: black;
  height: 100%;
  width: 100%;
  display:flex;
}
//$iconWidth: 300px;
mat-card {
    max-width: 280px;
    min-width: 280px;
    text-align: center;
    background: yellow;
    margin: auto;
    padding: auto;
    display: block;
    @media (max-width:720px){
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        min-height: 100%;
        flex-direction: column;
    }
  }

mat-form-field {
  display: flex;
  flex-direction: column;
  padding: 5px;
  }